/******************************************************************

Stylesheet: 576px以上(スマホの横向き)のモニタで適用

******************************************************************/
.top_img_box{
  height: 70px;
}
.head_logo{
  width: 8rem;
}